<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <title>FACT AuxFile Service</title>
</head>
<body>
<div class="content">
    <h1>The FACT Auxiliary Data Web Service </h1>
    <div class="grids-example">
        <div class="pure-g">
        <div class="pure-u-1">
            <div class="text-box">
                <h3>Auxiliary Data Table Names</h3>
                <p> This is a list of tables you can query </p>
                <ul>
                    {% for name in names %}
                        <li>{{ name }}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>

    </div>
</div>

</body>
</html>    <title></title>
</head>
<body>

</body>
</html>