{% extends "layout.html" %}
{% block content %}
<div class="pure-g">
        <div class="pure-u-2-5">
                <img src="static/fact.png" class="pure-img" />
        </div>

        <div class="pure-u-3-5">
            <div class="text-box">
                <h3>Auxiliary Data</h3>
                <p>
                    This web service provides auxiliary data written by the telescope sensors during data taking.
                    You can select the name of the table and the time range for which you want the information.
                    Simply point your browser to
                        <div class="code">
                            <p>/aux/&lt;NAME&gt;&from=XXXXX&to=xxxxx</p>
                        </div>
                    and you'll recieve the data encoded in .json format.

                </p>
                <p>
                    The following link for example will show you some weather information from timestamp
                    2013-02-01-00:40UTC to 2013-02-02-23:10UTC
                        <a class="blocklink" href="/aux/TNG_WEATHER_DATA?from=2013-02-01-00:40UTC&to=2013-02-02-23:10UTC" >/aux/TNG_WEATHER_DATA?from=2013-02-01-00:40UTC&to=2013-02-02-23:10UTC</a>
                </p>

                <p>
                    For a full list of tables/service endpoints visit
                        <a class="blocklink" href="/services" >/services</a>
                </p>
            </div>
        </div>
</div>
{% endblock %}